@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

:root [data-theme='hamlindigo'] {
	--theme-rounded-base: 20px;
	--theme-rounded-container: 4px;
}